<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="crmApp.crmClient.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.designation" for="field_designation">Designation</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.contact" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.postec" for="field_postec">Postec</label>
          <input type="text" class="form-control" name="postec" id="field_postec" data-cy="postec" formControlName="postec" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.tel" for="field_tel">Tel</label>
          <input type="text" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.besoins" for="field_besoins">Besoins</label>
          <input type="text" class="form-control" name="besoins" id="field_besoins" data-cy="besoins" formControlName="besoins" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.remarques" for="field_remarques">Remarques</label>
          <input type="text" class="form-control" name="remarques" id="field_remarques" data-cy="remarques" formControlName="remarques" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="crmApp.crmClient.forum" for="field_forum">Forum</label>
          <input type="text" class="form-control" name="forum" id="field_forum" data-cy="forum" formControlName="forum" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
